<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="JekSprite">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://kit.fontawesome.com/32a2b2a489.js" crossorigin="anonymous"></script>
  <title>JekSprite</title>
  <link rel="shortcut icon" type="image/jpg" href="/assets/favicon_io/favicon-16x16.png"/>
</head>
<body class="theme" onload="loadImage('/assets/img/sprites/Gnome Soldier.png');">
  {{ content }}
  <script src="/assets/js/jeksprite.js"></script>
</body>
</html>